<!DOCTYPE html>
<html>
    <head>
        <title>Calculator</title>
    </head>
    <body>
        <h1>Калькулятор</h1>
        {{ if not (eq .error nil)}}
        <p name="error">Ошибка: {{ .error }}</p>
        {{ end }}
        <form action="/calculate" method="POST">
            <input id="a" type="number" name="a" max="9223372036854775807" min="-9223372036854775808" value="{{ .a }}">
            <select id="op" name="op">
                {{ if not (eq .op nil) }}
                <option selected value="{{ .op }}">{{ .op }}</option>
                {{ end }}
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
                <option value="%">%</option>
            </select>
            <input id="b" type="number" name="b" max="9223372036854775807" min="-9223372036854775808" value="{{ .b }}">
            <input type="submit" value="=">
            {{ if not (eq .result nil) }}
            <span name="result">{{ .result }}</span>
            {{ end }}
        </form>
        {{ if not (eq .prev nil) }}
        <p name="prev">Предыдущее значение: {{ .prev }}</p>
        {{ end }}
    </body>
</html>